---

# Prepare uwdir
- name: create a temp folder as working dir for users
  file:
    path: /tmp/uwdir
    state: directory
    mode: 0777

# tasks file for ams_config
- name: install cvmfs repo
  apt: deb=https://ecsft.cern.ch/dist/cvmfs/cvmfs-release/cvmfs-release-latest_all.deb
  tags: ams_config

- name: Install cvmfs packages
  apt: name={{item}} state=present update_cache=yes
  with_items:
       - cvmfs
       - cvmfs-config-default
  tags: ams_config

- debug:
  msg: "VARIABILE = {{ ams_config_cvmfs_repo }}"
  verbosity: 2

- name: Creates CVMFS log file
  file: path=/var/log/cvmfs.log state=touch owner=cvmfs group=cvmfs
  tags: ams_config_cvmfs

- name: Creates CVMFS log cache manager file
  file: path=/var/log/cvmfs.log.cachemgr state=touch owner=cvmfs group=cvmfs
  tags: ams_config_cvmfs

- name: Create logrotate rule for CVMFS log
  blockinfile:
    dest: /etc/logrotate.d/cvmfs_log
    create: yes
    content: |
      /var/log/cvmfs.log {
        hourly
        missingok
        rotate 28
        notifempty
        copytruncate
        dateformat -%Y%m%d
        dateext
        size 42M
        create 0644 cvmfs cvmfs
      }
  tags: ams_config

- name: Create logrotate rule for CVMFS log cache manager
  blockinfile:
    dest: /etc/logrotate.d/cvmfs_cachemgr
    create: yes
    content: |
      /var/log/cvmfs.log.cachemgr {
        hourly
        missingok
        rotate 28
        notifempty
        copytruncate
        dateformat -%Y%m%d
        dateext
        size 42M
        create 0644 cvmfs cvmfs
      }
  tags: ams_config

- name: create/update file /etc/cvmfs/default.local
  blockinfile:
    dest: /etc/cvmfs/default.local
    create: yes
    content: |
      CVMFS_HTTP_PROXY="{{ams_config_cvmfs_default_http_proxy}};http://ca-proxy.cern.ch:3128;http://ca-proxy1.cern.ch:3128|http://ca-proxy2.cern.ch:3128|http://ca-proxy3.cern.ch:3128|http://ca-proxy4.cern.ch:3128|http://ca-proxy5.cern.ch:3128;DIRECT"
      CVMFS_REPOSITORIES={{ams_config_cvmfs_repositories}}
  when: ams_config_cvmfs_repo.repository_name == ""
  tags: ams_config

- name: create/update file /etc/cvmfs/default.local with defined ams repo
  blockinfile:
    dest: /etc/cvmfs/default.local
    create: yes
    content: |
      CVMFS_HTTP_PROXY="http://ca-proxy.cern.ch:3128;http://ca-proxy1.cern.ch:3128|http://ca-proxy2.cern.ch:3128|http://ca-proxy3.cern.ch:3128|http://ca-proxy4.cern.ch:3128|http://ca-proxy5.cern.ch:3128;DIRECT"
      CVMFS_REPOSITORIES={{ams_config_cvmfs_repositories}},{{ams_config_cvmfs_repo.repository_name}}
  when: ams_config_cvmfs_repo.repository_name != ""
  tags: ams_config_cvmfs_repo

- name: Add CVMFS DEBUG
  lineinfile:
    dest: /etc/cvmfs/default.local
    line: "CVMFS_DEBUGLOG=/var/log/cvmfs.log"
  when: ams_config_cvmfs_debug == True
  tags: ams_config

- name: create/update file {{ams_config_cvmfs_repo.public_key_path}}
  lineinfile:
    dest: "{{ams_config_cvmfs_repo.public_key_path}}"
    create: yes
    line: "{{ item }}"
  with_items: 
    - "{{ ams_config_cvmfs_repo.public_key.split('\n') }}"
  when: ams_config_cvmfs_repo.repository_name != ""
  tags: ams_config_cvmfs_repo

- name: set local AMS_SERVER_URL variable
  blockinfile:
    dest: /etc/cvmfs/config.d/ams.local.repo.conf
    create: yes
    content: |
      CVMFS_SERVER_URL={{ams_config_cvmfs_repo.server_url}}
      CVMFS_PUBLIC_KEY={{ams_config_cvmfs_repo.public_key_path}}
      CVMFS_HTTP_PROXY={{ams_config_cvmfs_repo.http_proxy}}
  when: ams_config_cvmfs_repo.repository_name != ""
  tags: ams_config_cvmfs_repo

- name: set AMS repo
  blockinfile:
    dest: /etc/cvmfs/config.d/ams.cern.ch.local
    create: yes
    content: |
      #CVMFS_SERVER_URL="http://cvmfs-stratum-one.cern.ch/opt/@org@"
      CVMFS_SERVER_URL="http://cvmfs-stratum-one.cern.ch/cvmfs/ams.cern.ch"
      CVMFS_HTTP_PROXY=DIRECT
  tags: ams_config_cvmfs_repo

- name: set software cern repo config
  blockinfile:
    dest: /etc/cvmfs/config.d/sft.cern.ch.config
    create: yes
    content: |
      CVMFS_SERVER_URL="http://cvmfs-stratum-one.cern.ch/cvmfs/sft.cern.ch"
  tags: ams_config_cvmfs_repo

- name: Enable user_allow_other in fuse.conf
  lineinfile: dest=/etc/fuse.conf line="user_allow_other" state=present
  tags: ams_config

- name: Add cvmfs user to fuse
  user:
    name: cvmfs
    groups: fuse
    append: yes
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_version == '14.04'

- name: Stop autofs
  service: name=autofs state=stopped
  tags: ams_config

- name: Creates CVMFS local repo
  file: path=/cvmfs/{{ams_config_cvmfs_repo.repository_name}} state=directory owner=cvmfs group=cvmfs recurse=yes
  when: ams_config_cvmfs_repo.repository_name != ""
  tags: ams_config_cvmfs_repo

- name: Creates AMS repo folder
  file: path=/cvmfs/ams.cern.ch state=directory owner=cvmfs group=cvmfs recurse=yes
  tags: ams_config_cvmfs_repo

- name: Creates software cern repo folder
  file: path=/cvmfs/sft.cern.ch state=directory owner=cvmfs group=cvmfs recurse=yes
  tags: ams_config_cvmfs_repo

# Remove cvmfs folder from mlocate check
- name: Remove cvmfs folder from mlocate check
  lineinfile: 
      dest: /etc/updatedb.conf 
      regexp: '^PRUNEPATHS=' 
      line: 'PRUNEPATHS="/tmp /var/spool /media /home/.ecryptfs /var/lib/schroot /cvmfs"'

- name: mount CVMFS local repo
  mount:
    path: "/cvmfs/{{ams_config_cvmfs_repo.repository_name}}"  # Only in ansible >= 2.3
    # dest: "/cvmfs/{{ams_config_cvmfs_repo.repository_name}}"  # for ansible < 2.3
    src: "{{ams_config_cvmfs_repo.repository_name}}"
    fstype: cvmfs
    state: mounted
  register: result
  until: result | success
  retries: 10
  delay: 10
  when: ams_config_cvmfs_repo.repository_name != ""
  tags: ams_config_cvmfs_repo

- name: mount AMS CVMFS repo
  mount:
    path: "/cvmfs/ams.cern.ch"  # Only in ansible >= 2.3
    # dest: "/cvmfs/ams.cern.ch"  # for ansible < 2.3
    src: "ams.cern.ch"
    fstype: cvmfs
    state: mounted
  register: result
  until: result | success
  retries: 10
  delay: 10
  tags: ams_config_cvmfs_repo

- name: mount software cern CVMFS repo
  mount:
    path: "/cvmfs/sft.cern.ch"  # Only in ansible >= 2.3
    # dest: "/cvmfs/sft.cern.ch"  # for ansible < 2.3
    src: "sft.cern.ch"
    fstype: cvmfs
    state: mounted
  register: result
  until: result | success
  retries: 10
  delay: 10
  tags: ams_config_cvmfs_repo